body {
  display: flex;
  justify-content: center;
}
.smile {
  background-color: yellow;
  display: flex;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.eye {
  position: absolute;
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.left-eye {
  left: 80px;
  top: 80px;
}
.right-eye {
  right: 80px;
  top: 80px;
}
.mouth {
  position: absolute;
  background-color: black;
  bottom: 60px;
  width: 200px;
  height: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.smile:hover .eye {
  transform: scale(1.2);
  rotate: 10deg;
}
.smile:hover .mouth {
  transform: none;
  rotate: 180deg;
  transition: all 2s;
}
@keyframes blink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.1);
  }
}

@keyframes rotate {
  0% {
    rotate: 10deg;
  }
  100% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
}
.eye {
  animation: blink 4s infinite;
}
